include kucut/corpus.db
include kucut/dict/firstname.txt
include kucut/dict/country.txt
include kucut/dict/hidden.txt
include kucut/dict/foo.py
include kucut/dict/syllable_sutee.txt
include kucut/dict/lastname.txt
include kucut/dict/lexicon.txt
include kucut/dict/prohibit.txt
include kucut/dict/rules.txt
include kucut/dict/syl-lex.txt
include kucut/dict/syllable.txt
include kucut/dict/xxx
include kucut/dict/totalDict.txt
include kucut/train.skip.cut.db
include scripts/kucut
include MANIFEST.in
include Changelog
include README
